<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.piesat.biserver.dao.AssemblyTextMapper" >
  <resultMap id="BaseResultMap" type="cn.piesat.biserver.entity.assembly.AssemblyTextEntity" >
    <id column="id" property="dataId" jdbcType="VARCHAR" />
    <result column="assembly_id" property="assemblyId" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="assembly_data" property="assemblyData" jdbcType="LONGVARCHAR" />
    <result column="font_size" property="fontSize" jdbcType="INTEGER" />
    <result column="font_color" property="fontColor" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseSuperResultMap" type="cn.piesat.biserver.entity.AssemblyEntity" >
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="assembly_title" property="assemblyTitle" jdbcType="VARCHAR" />
    <result column="assembly_name" property="assemblyName" jdbcType="VARCHAR" />
    <result column="assembly_type" property="assemblyType" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="INTEGER" />
    <result column="x" property="x" jdbcType="INTEGER" />
    <result column="y" property="y" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="collection" property="collection" jdbcType="INTEGER" />
    <association property="assemblyCurrencyData" javaType="cn.piesat.biserver.entity.assembly.AssemblyTextEntity">
      <id column="data_id" property="dataId" jdbcType="VARCHAR" />
      <result column="assembly_id" property="assemblyId" jdbcType="VARCHAR" />
      <result column="data_type" property="dataType" jdbcType="INTEGER" />
      <result column="assembly_data" property="assemblyData" jdbcType="LONGVARCHAR" />
      <result column="font_size" property="fontSize" jdbcType="INTEGER" />
      <result column="font_color" property="fontColor" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, assembly_id, assembly_data, data_type, font_size, font_color
  </sql>

  <select id="queryTextAssemblyData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_assembly_data_text
    where assembly_id = #{assemblyId,jdbcType=VARCHAR}
    and data_type = #{dataType,jdbcType=INTEGER}
  </select>

  <select id="queryAssemblyById" resultMap="BaseSuperResultMap" parameterType="java.lang.String" >
    select
    t1.id, t1.template_id, t1.assembly_title, t1.assembly_name, t1.assembly_type, t1.data_type,
    t1.degree, t1.x, t1.y, t1.width, t1.height, t1.collection,
    t2.id as data_id, t2.data_type, t2.assembly_data, t2.font_size, t2.font_color
    from t_assembly t1
    left join t_assembly_data_text t2
    on t1.id = t2.assembly_id and t1.data_type = t2.data_type
    where 1 = 1
    <if test="id != null">
      and t1.id = #{id,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insert" parameterType="cn.piesat.biserver.entity.assembly.AssemblyTextEntity" >
    <selectKey keyProperty="dataId" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),"-","")
    </selectKey>
    insert into t_assembly_data_text
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        id,
      </if>
      <if test="assemblyId != null" >
        assembly_id,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="fontSize != null" >
        font_size,
      </if>
      <if test="fontColor != null" >
        font_color,
      </if>
      <if test="assemblyData != null" >
        assembly_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="assemblyId != null" >
        #{assemblyId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="fontSize != null" >
        #{fontSize,jdbcType=INTEGER},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="assemblyData != null" >
        #{assemblyData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updataAssemblyDataByDataId" parameterType="cn.piesat.biserver.entity.assembly.AssemblyTextEntity" >
    update t_assembly_data_text
    <set >
      <if test="assemblyId != null" >
        assembly_id = #{assemblyId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="fontSize != null" >
        font_size = #{fontSize,jdbcType=INTEGER},
      </if>
      <if test="fontColor != null" >
        font_color = #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="assemblyData != null" >
        assembly_data = #{assemblyData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{dataId,jdbcType=VARCHAR}
  </update>
</mapper>