<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.piesat.biserver.dao.AssemblyMapper" >
  <resultMap id="BaseResultMap" type="cn.piesat.biserver.entity.AssemblyEntity" >
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="assembly_title" property="assemblyTitle" jdbcType="VARCHAR" />
    <result column="assembly_name" property="assemblyName" jdbcType="VARCHAR" />
    <result column="assembly_type" property="assemblyType" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="INTEGER" />
    <result column="x" property="x" jdbcType="INTEGER" />
    <result column="y" property="y" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="collection" property="collection" jdbcType="INTEGER" />
    <association property="assemblyDataObj" javaType="cn.piesat.biserver.entity.AssemblyDataEntity">
      <id column="data_id" property="dataId"/>
      <result column="assembly_id" property="assemblyId" jdbcType="VARCHAR" />
      <result column="data_type" property="dataType" jdbcType="INTEGER" />
      <result column="data_legend" property="dataLegend" jdbcType="VARCHAR" />
      <result column="assembly_data" property="assemblyData" jdbcType="LONGVARCHAR" />
      <result column="x_mapping" property="xMapping" jdbcType="VARCHAR" />
      <result column="y_mapping" property="yMapping" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_id, assembly_title, assembly_name, assembly_type, data_type, degree, x, y, width, height, collection
  </sql>
  <select id="queryAssembly" resultMap="BaseResultMap" parameterType="cn.piesat.biserver.entity.AssemblyEntity">
    select
    t1.id, t1.template_id, t1.assembly_title, t1.assembly_name, t1.assembly_type, t1.data_type,
    t1.degree, t1.x, t1.y, t1.width, t1.height, t1.collection,
    t2.id as data_id, t2.data_type, t2.data_legend, t2.assembly_data, t2.x_mapping, t2.y_mapping
    from t_assembly t1
    left join t_assembly_data t2
    on t1.id = t2.assembly_id and t1.data_type = t2.data_type
    where 1 = 1
    <if test="templateId != null">
      and t1.template_id = #{templateId,jdbcType=VARCHAR}
    </if>
    <if test="id != null">
      and t1.id = #{id,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="queryAssemblyByScreenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
     from t_assembly where template_id = #{screenId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteAssemblyById" parameterType="java.lang.String" >
    delete from t_assembly
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.piesat.biserver.entity.AssemblyEntity" >
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),"-","")
    </selectKey>
    insert into t_assembly (id, template_id, assembly_title, assembly_name,
      assembly_type, data_type, degree, 
      x, y, width, height, collection
      )
    values (#{id,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, #{assemblyTitle,jdbcType=VARCHAR},
      #{assemblyName,jdbcType=VARCHAR}, #{assemblyType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER},
      #{degree,jdbcType=INTEGER}, #{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}, #{width,jdbcType=INTEGER},
      #{height,jdbcType=INTEGER}, #{collection,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertBatch">
    insert into t_assembly (id, template_id, assembly_title, assembly_name,
    assembly_type, data_type, degree,
    x, y, width, height
    )
    values
    <foreach collection="list" item="assemblyEntity" separator=",">
      (#{assemblyEntity.id,jdbcType=VARCHAR}, #{assemblyEntity.templateId,jdbcType=VARCHAR}, #{assemblyTitle,jdbcType=VARCHAR}, #{assemblyEntity.assemblyName,jdbcType=VARCHAR},
      #{assemblyEntity.assemblyType,jdbcType=INTEGER}, #{assemblyEntity.dataType,jdbcType=INTEGER}, #{assemblyEntity.degree,jdbcType=INTEGER},
      #{assemblyEntity.x,jdbcType=INTEGER}, #{assemblyEntity.y,jdbcType=INTEGER}, #{assemblyEntity.width,jdbcType=INTEGER}, #{assemblyEntity.height,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.piesat.biserver.entity.AssemblyEntity" >
    update t_assembly
    <set >
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="assemblyTitle != null" >
        assembly_title = #{assemblyTitle,jdbcType=VARCHAR},
      </if>

      <if test="assemblyName != null" >
        assembly_name = #{assemblyName,jdbcType=VARCHAR},
      </if>
      <if test="assemblyType != null" >
        assembly_type = #{assemblyType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=INTEGER},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null" >
        y = #{y,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="collection != null" >
        collection = #{collection,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>